.registerSection{
    display:flex;
    justify-content:center;
}

.registerForm{
    display:flex;
    flex-direction:column;
    >*{
        margin:5px 0;
    }
    .imageContainer{
        float:left;
        margin:0 auto;
    }

    p,label{
        @include fontSize(18);
    }
}